/****************************************************************************/
//    copyright 2010-2012 Chris Rizzitello <sithlord48@gmail.com>           //
//                        Black Chocobo Dev Team                            //
//                                                                          //
//    This file is part of Black Chocobo.                                   //
//                                                                          //
//    Black Chocobo is free software: you can redistribute it and/or modify //
//    it under the terms of the GNU General Public License as published by  //
//    the Free Software Foundation, either version 3 of the License, or     //
//    (at your option) any later version.                                   //
//                                                                          //
//    Black Chocobo is distributed in the hope that it will be useful,      //
//    but WITHOUT ANY WARRANTY; without even the implied warranty of        //
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         //
//    GNU General Public License for more details.                          //
/****************************************************************************/

// ----- global includes --- //
#include "winver.h"

// ----- local includes ---- //
#include "svnversion.h"
#include "version.h"

// ----- predefines -------- //

#define STR(x)   #x
#define GETSTR(x)  STR(x)

//#define INT(x)   #x
//#define GETINT(x)  INT(x)

// ----- Icon -------------- //
IDI_ICON1               ICON    DISCARDABLE     "icon/bchoco_icon_win.ico"

// ----- Version info ------ //
#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

#ifndef SVNVERSION
#define SVNVERSION                   0
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	VER_MAJOR,VER_MINOR,VER_SP,VER_BUILDNR
PRODUCTVERSION 	VER_MAJOR,VER_MINOR,VER_SP,VER_BUILDNR
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK //FILEOS        0x40004L
FILEFLAGS      	VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE|VER_DEBUG
FILEOS         	VOS_NT_WINDOWS32     //FILEOS        0x40004L
FILETYPE       	VFT_APP              //FILETYPE      0x1L
FILESUBTYPE    	VFT2_UNKNOWN         //FILESUBTYPE   0x0L


BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Black Chocobo Dev Team"
            VALUE "FileDescription", "FF7 Save Game Editor"
            VALUE "FileVersion", GETSTR(VER_MAJOR) "." GETSTR(VER_MINOR) "." GETSTR(VER_SP) "." GETSTR(VER_BUILDNR) "\0"
            VALUE "InternalName", "BlackChocobo"
            VALUE "LegalCopyright", "(C) 2010-2012 Chris Rizzitello"
            VALUE "OriginalFilename", "Black_Chocobo.exe"
            VALUE "ProductName",      "Black Chocobo"
            VALUE "ProductVersion",  GETSTR(VER_MAJOR) "." GETSTR(VER_MINOR) "." GETSTR(VER_SP) "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x409, 1252
    END
END
