[Desktop Entry]
Categories=Application;Game;
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=/usr/bin/blackchocobo/Black_Chocobo
GenericName=FF7 Save Game Editor
GenericName[en]=FF7 Save Game Editor
GenericName[es]=Editor de partidas guardadas para FF7
GenericName[fr]=Éditeur de sauvegardes FF7
Icon=Black_Chocobo.png
MimeType=
Name=Black Chocobo
Name[en]=Black Chocobo
Name[es]=Chocobo Negro
Name[fr]=Black Chocobo
Path=/usr/bin/blackchocobo/
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.9.4
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
