[Desktop Entry]
Categories=Application;Game;
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=/usr/bin/blackchocobo/Black_Chocobo
GenericName[en_US]=FF7 Save Game Editor
GenericName=FF7 Save Game Editor
Icon=Black_Chocobo.png
MimeType=
Name[en_US]=Black Chocobo
Name=Black Chocobo
Path=/usr/bin/blackchocobo/
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.9
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
