[Desktop Entry]
Categories=Application;Game;
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=/usr/bin/blackchocobo
GenericName=FF7 Save Game Editor
GenericName[en]=FF7 Save Game Editor
GenericName[es]=Editor de partidas guardadas para FF7
GenericName[fr]=Éditeur de sauvegardes FF7
GenericName[de]=FF7 Spielstand-Bearbeitungsprogramm
Icon=Black_Chocobo.png
MimeType=application/x-blackchocobo;
Name=Black Chocobo
Name[en]=Black Chocobo
Name[es]=Chocobo Negro
Name[fr]=Chocobo Noir
Name[de]=Black Chocobo
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.9.43
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
