[Desktop Entry]
Categories=Game;
Exec=blackchocobo
GenericName=FF7 Save Game Editor
GenericName[en]=FF7 Save Game Editor
GenericName[es]=Editor de partidas guardadas para FF7
GenericName[fr]=Éditeur de sauvegardes FF7
GenericName[de]=FF7 Spielstand-Bearbeitungsprogramm
Icon=Black_Chocobo
MimeType=application/x-ff7PCSave;application/x-ff7SwitchSave;
Name=Black Chocobo
Name[en]=Black Chocobo
Name[es]=Black Chocobo
Name[fr]=Black Chocobo
Name[de]=Black Chocobo
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
