[Desktop Entry]
Categories=Game;
Exec=blackchocobo
GenericName=FF7 Save Game Editor
GenericName[de]=FF7 Spielstand-Bearbeitungsprogramm
GenericName[en]=FF7 Save Game Editor
GenericName[es]=Editor de partidas guardadas para FF7
GenericName[fr]=Éditeur de sauvegardes FF7
GenericName[it]=FF7 Salva l'editor di gioco
GenericName[ja]=FF7 ゲームエディタを保存
GenericName[pl]=FF7 Edytor zapisu gry
Icon=blackchocobo
MimeType=application/x-ff7PCSave;application/x-ff7SwitchSave;
Name=Black Chocobo
Name[de]=Schwarzer Chocobo
Name[en]=Black Chocobo
Name[es]=Chocobo Negro
Name[fr]=Chocobo Noir
Name[it]=Chocobo Nero
Name[ja]=黒チョコボ
Name[pl]=Czarny Chocobo
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
