Source: blackchocobo
Section: games
Priority: extra
Maintainer: Chris Rizzitello <sithlord48@gmail.com>
Build-Depends:
 cmake,
 debhelper (>= 9.0),
 qt5-default,
 qtbase5-dev,
 qttools5-dev-tools,
 qtdeclarative5-dev
Standards-Version: 3.9.7
Homepage: http://blackchocobo.sourceforge.net
#Vcs-Git: git://git.debian.org/collab-maint/blackchocobo.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/blackchocobo.git;a=summary

Package: blackchocobo
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: FF7 Savegame Editor
 Do lots of stuff w/ Final Fantasy VII save games.
 Supports PC, PSX, Emulators, PSP, PsVita, PSV, and Switch saves.
